@media (max-width: 700px) {

    /* General */
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-image: url(img_fondo/dark-purple-background-tk8kthqbwuu0elmq.jpg);
        /* Fondo oscuro */
        color: white;
    }

    header {
        background-color: #4c3d78;
        /* Barra superior */
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px solid #a0458e;
    }

    .barra-busqueda {
        padding-left: 20px;
    }

    #buscador {
        border-radius: 5px;
        padding: 10px;
    }

    .top-bar {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        margin-right: 10px;
        font-weight: bold;
    }

    .icons .icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .support {
        display: flex;
        align-items: center;
    }



    /* Noticias */
    .noticias {
        padding: 20px;

    }

    .noticias h1,
    .manifestaciones h1 {
        background-color: #a0458e;
        margin-top: 0;
        padding: 5px 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .noticia-principal img {
        width: 100%;
        border-radius: 10px;
        border: 5px solid grey;
    }

    .noticia-principal h2 {
        margin-top: 10px;
        font-size: 1.2em;
    }

    .noticias-secundarias {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .noticias-secundarias .noticia {
        width: 50%;

        margin-left: 20px;
    }

    .noticias-secundarias img {
        width: 90%;
        border-radius: 10px;
        border: 4px solid grey;
    }

    /* Manifestaciones */
    .manifestaciones {
        padding: 20px;
    }

    .manifestaciones h1 {
        margin: 0;
    }

    .manifestacion-principal {
        position: relative;
        margin-top: 10px;
    }

    .manifestacion-principal video {
        width: 100%;
        border-radius: 10px;
        margin-bottom: -50px;
    }


    /* Descripción */
    .descripcion {
        padding: 20px;
    }

    .descripcion h1 {
        padding-top: 0px;
    }

    .descripcion p {
        margin-top: 10px;
    }

    /* Footer */
    footer {
        border-top: 4px solid #a0458e;
        background-color: #4c3d78;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contacto {
        font-size: 0.8em;
    }

    .redes-sociales img {
        width: 30px;
        margin-left: 10px;
    }

    .logo img {
        display: flex;
        align-items: center;
        width: 80px;

    }

}

@media (min-width: 700px) {

    /* General */
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-image: url(img_fondo/dark-purple-background-tk8kthqbwuu0elmq.jpg);
        /* Fondo oscuro */
        color: white;
    }

    header {
        background-color: #4c3d78;
        /* Barra superior */
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px solid #a0458e;
    }

    .barra-busqueda {
        padding-left: 20px;
    }

    #buscador {
        border-radius: 5px;
        padding: 10px;
    }

    .top-bar {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        margin-right: 10px;
        font-weight: bold;
    }

    .icons .icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .support {
        display: flex;
        align-items: center;
    }

    /* Noticias */
    .noticias {
        padding: 20px;

    }

    .noticias h1,
    .manifestaciones h1 {
        background-color: #a0458e;
        margin-top: 0;
        padding: 5px 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .noticia-principal {}

    .noticia-principal img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        border-radius: 10px;
        border: 5px solid grey;
    }

    .noticia-principal h2 {
        margin-top: 10px;
        font-size: 1.2em;
    }

    .noticias-secundarias {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .noticias-secundarias .noticia {
        width: 50%;

        margin-left: 20px;
    }

    .noticias-secundarias img {
        width: 90%;
        border-radius: 10px;
        border: 4px solid grey;
    }

    /* Manifestaciones */
    .manifestaciones {
        padding: 20px;
    }

    .manifestaciones h1 {
        margin: 0;
    }

    .manifestacion-principal {
        position: relative;
        margin-top: 10px;
    }

    .manifestacion-principal video {
        width: 100%;
        border-radius: 10px;
        margin-bottom: -50px;
    }


    /* Descripción */
    .descripcion {
        padding: 20px;
    }

    .descripcion h1 {
        padding-top: 0px;
    }

    .descripcion p {
        margin-top: 10px;
    }

    /* Footer */
    footer {
        border-top: 4px solid #a0458e;
        background-color: #4c3d78;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contacto {
        font-size: 0.8em;
    }

    .redes-sociales img {
        width: 30px;
        margin-left: 10px;
    }

    .logo img {
        display: flex;
        align-items: center;
        width: 80px;

    }

}